.remoteWork {
    background-color: rgba(0, 128, 0, 0.31);
}

.remoteWork__box{
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.remoteWork__title {
    word-wrap: break-word;
    background-color: #6ace6a;
    margin-bottom: 40px;
    text-align: center;
}

.remoteWork__button {
    padding: 0 10px;
}