.navigation {
}

.navigation__box {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: end;
}

.navigation__list {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.navigation__linkItem {
    border: 1px solid black;
    background-color: #dedede;
    padding: 10px;
}

.navigation__linkItem a {
    text-decoration: none;
}